.tariffs{
    margin-top: 50px;
    margin-bottom: 50px;
    &__title{
        font-family: 'Londrina Outline', cursive;
        font-size: 70px;
    }
    &__text{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__box{
        border: 1px solid #3c3c3c;
        width: 400px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    &__box_text{
        display: block;
    }
    &__box_title{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    &__box_text{
        color: #fff;
        margin-left: 40px;
    }
    &__check{
        color: #f5b232;
        margin-left: 10px;
        float: left;
    }
    &__box_link{
        margin-top: 50px;
        text-align: center;
        margin-bottom: 50px;
        a{
            padding: 20px;
            background: #f5b232;
            color: #fff;
            border-radius: 30px;
        }
        a:hover{
            background: #b6811e;
        }
    }
}